@import '@styles/utils/_sizes.less';

.navigation {
    height: 50px;

    @media (min-width: @header-middle) {
        padding-left: 45px;
    }

    @media (min-width: @desktop-min) {
        height: 72px;
        padding-left: 56px;
        padding-right: 24px;
    }
}

.links {
    display: none;
    align-items: center;
    margin-left: 44px;
    gap: 56px;

    @media (min-width: @mobile-max) {
        display: flex;
    }
}
