@import '@styles/utils/_colors.less';
@import '@styles/utils/_fonts.less';
@import '@styles/utils/_sizes.less';

.title {
    gap: 6px;
    font-size: 20px;
    line-height: 1.05;

    @media (min-width: @desktop-min) {
        gap: 10px;
        font-size: 52px;
    }
}

.line {
    font-family: @font-benzin, sans-serif;
    font-weight: bold;
}

.highlight {
    padding: 8px 6px 4px 6px;
    background-color: @branding-color;
    transform: rotate(-2deg);
    transform-origin: center;
    display: inline-block;

    @media (min-width: @desktop-min) {
        padding: 15px 14px 6px 14px;
        padding-top: 15px;
    }
}

.accent {
    color: @branding-color;
}
