@import '@styles/utils/_sizes.less';

.buttons {
    @media (min-width: @desktop-min) {
        width: auto;
        gap: 16px;
        padding-top: 85px;
    }
}

.button {
    flex: 1;
    min-width: 0;
    margin-right: 8px;

    @media (min-width: @desktop-min) {
        flex: 0 0 auto;
        min-width: auto;
    }
}
