// @import '@styles/variables/_fonts.less';
// @import '@styles/variables/_sizes.less';

.card {
    min-height: 294px;
    background-color: #0e1116;
    color: #fff;
}

// .title {
//     font-family: @font-benzin, sans-serif;
//     font-size: 24px;
//     line-height: 1.2;

//     @media (min-width: @desktop-min) {
//         font-size: 40px;

//     }
// }
