@import '@styles/variables/_colors.less';

.circle {
    display: block;
    background-color: @branding-color;
    filter: blur(var(--circle-gradient-blur, var(--circle-gradient-blur-prop)));
    pointer-events: none;
}
