@import '@styles/variables/_sizes.less';

.burger {
    display: flex;
    flex-direction: column;
    padding-right: 10px;

    @media (min-width: @mobile-max) {
        display: none;
    }
}

.line {
    display: block;
    width: 17px;
    height: 2px;
    background-color: #fff;
    border-radius: 999px;
}
