@import '@styles/utils/_colors.less';
@import '@styles/utils/_sizes.less';

.login {
    display: none;
    width: 72px;
    height: 35px;
    font-weight: 500;
    background-color: @branding-color;
    border: none;
    border-radius: 12px;
    margin-right: 12px;

    @media (min-width: @mobile-max) {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    @media (min-width: @middle-screen) {
        margin-right: 50px;
    }

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
        color: #000;
        background-color: @branding-color;
        box-shadow: none;
    }
}
