@import '@styles/variables/_colors.less';
@import '@styles/variables/_sizes.less';

button.login {
    display: none;
    padding: 8px 12px;
    border: none;
    border-radius: 12px;
    margin-right: 60px;
    margin-top: 20px;
    font-weight: bold;

    @media (min-width: @mobile-max) {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    @media (min-width: @middle-screen) {
        margin-right: 50px;
    }
}
