@import '@styles/utils/_colors.less';
@import '@styles/utils/_sizes.less';

button.login {
    display: none;
    padding: 8px 12px;
    border: none;
    border-radius: 12px;
    margin-right: 12px;
    font-weight: bold;

    @media (min-width: @mobile-max) {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    @media (min-width: @middle-screen) {
        margin-right: 50px;
    }

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
        color: #000;
        background-color: @branding-color;
        box-shadow: none;
    }
}
