@import '@styles/utils/_colors.less';
@import '@styles/utils/_fonts.less';

.title {
    gap: 6px;
    font-size: 20px;
    line-height: 1.05;
}

.line {
    font-family: @font-benzin, sans-serif;
    font-weight: bold;
}

.highlight {
    padding-left: 6px;
    padding-right: 6px;
    background-color: @branding-color;
    transform: rotate(-2deg);
    transform-origin: center;
}

.accent {
    color: @branding-color;
}
