.leafLeft {
    position: absolute;
    left: 0;
    top: 0;
}

.leafTop {
    position: absolute;
    top: 0;
    right: 0;
}

.leafMiddle {
    position: absolute;
    top: 131px;
    right: 71px;
}

.glow {
    position: absolute;
    width: 150px;
    height: 170px;
    z-index: -1;
}
