@import '@styles/variables/_sizes.less';

.largeButton {
    padding: 9px 15px;
    @media (min-width: @desktop-min) {
        padding: 13px 21px;
    }
}

.chevron {
    margin-left: 15px;

    @media (min-width: @desktop-min) {
        width: 24px;
        height: 24px;
    }
}
