@import '@styles/utils/_sizes.less';

.navigation {
    height: 50px;
    @media (min-width: 600px) {
        padding-left: 45px;
    }
}

.links {
    display: none;
    align-items: center;
    margin-left: 44px;
    gap: 56px;

    @media (min-width: @mobile-max) {
        display: flex;
    }
}
