@import '@styles/variables/_fonts.less';

.card {
    position: relative;
    overflow: hidden;
    padding: 24px 24px 0 24px;
    background-color: #111;
    border: 1px solid #2c2c2c;
    border-radius: 32px;
}

.title {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: @font-benzin, sans-serif;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
}

.submit {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    white-space: nowrap;
    border-radius: 999px;
}
