@import '@styles/variables/_fonts.less';
@import '@styles/variables/_sizes.less';

.glow {
    width: 80px;
    height: 80px;

    // @media (min-width: @desktop-min) {
    //     width: 180px;
    //     height: 180px;
    // }
}

.card {
    min-height: 176px;
    background-color: #0e1116;
    padding: 16px;
    color: #fff;

    @media (min-width: @desktop-min) {
        min-height: 294px;
        min-width: 532px;
        padding: 32px 40px;
    }
}

.background {
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.stars {
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.glowTop {
    .glow();
    left: -70px;
    top: -10px;
}

.glowBottom {
    .glow();
    bottom: 0;
    right: 0;
}

.title {
    font-family: @font-benzin, sans-serif;
    font-size: 14px;
    margin-bottom: 6px;

    @media (min-width: @desktop-min) {
        font-size: 24px;
        margin-bottom: 8px;
    }
}

.subtitle {
    font-size: 12px;
    line-height: 15px;

    @media (min-width: @desktop-min) {
        font-size: 16px;
        line-height: 1.3;
    }
}

.visual {
    position: absolute;
    right: 0;
    bottom: 0;
    @media (min-width: @desktop-min) {
        transform: scale(1.7);
    }
}

.leafRight {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 7;
}

.leafBottom {
    position: absolute;
    right: 82px;
    bottom: 0;
    z-index: 10;
}

.leafLeftMiddle {
    position: absolute;
    right: 46px;
    bottom: 0;
    z-index: 5;
}

.leafTopMiddle {
    position: absolute;
    right: 15px;
    bottom: 0;
    z-index: 1;
}

.frontDollar {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 6;
}

.backDollar {
    position: absolute;
    right: 15px;
    bottom: 0;
    z-index: 0;
}

.imageGlow {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    bottom: 0;
    z-index: 6;

    @media (min-width: @desktop-min) {
        width: 120px;
        height: 120px;
    }
}
