.pathToMoney {
    padding-top: 120px;
    padding-bottom: 40px;
    gap: 7rem;
}

.headline {
    position: relative;
}

.cat,
.bitcoin {
    position: absolute;
}

.cat {
    top: -50px;
    left: 10px;
    transform: rotate(-13deg);
}

.bitcoin {
    right: -36px;
    bottom: -28px;
    mix-blend-mode: screen;

    img {
        transform: rotate(9deg);
    }
}
