@import '@styles/variables/_fonts.less';
@import '@styles/variables/_sizes.less';

.placeholder {
    color: #fff;
    opacity: 0.6;
    font-size: 14px;

    @media (min-width: @desktop-min) {
        font-size: 18px;
    }
}
