@import '@styles/variables/_sizes.less';

.card {
    min-height: 294px;
    background-color: #0e1116;
    color: #fff;
    padding: 1.5rem 1.125rem;

    @media (min-width: @desktop-min) {
        padding: 82px 200px 82px 94px;
    }
}

.background {
    object-fit: cover;
}
